# Ignore everything in the client and server folders that should be handled individually
client/node_modules/
client/dist/

server/node_modules/
server/dump/

# General logs and cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tmp
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.iml

# Ignore environment files globally (to avoid accidentally committing them)
server/.env
client/.env
